.sign-container{
    color: white;
}
.form-wrapper{
    margin-top: 20px;
}
.title{
    font-size: 20px;
}
.form-group{
    display: grid;
}

.box{
    border-radius: 30px;
    border: solid green;
    height: 30px;
    background-color: #2b2b2d;
    outline: unset;
}
.buttom-wrapper{
    display: flex;
    justify-content: center;
}
.button{
    width: 150px;
    border-radius: 30px;
    background-color: green;
    height: 30px;
    margin: 25px;
}
.check-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.green{
    color: green;
    margin-left: 4px;
}
.check-box{
    margin-right: 4px; 
}
.label-wrapper{
    display: flex;
    justify-content: center;
}